:root {
  --main-bg-color: rgb(255, 248, 231);
  --main-font-color: rgb(0, 0, 0);
  --theme-primary: rgb(254, 202, 27);
  margin-top: 0px;
  border-top: 0px;
  padding-top: 0px;
  background-color: rgb(116,164,137);
}

* {
  box-sizing:border-box;
}