
body {
  margin: 20px;
  background-color: #badcc9;
}

form {
  align-self: center;
  padding: 40px, 40px, 0, 40px;
}
#header {
  background-color:antiquewhite;
  height: 300px;
  padding: 20px;
  border: 0px;
}

#home {
  padding: 0px;
  margin: 20px;
  text-align: center;
}

.campsites-wrapper { 
  width: 100%;
  border-color: antiquewhite;
  border: 20px
}

.site-wrapper {
  border: 20px;
  border-color: antiquewhite;
}


.column {
  float: left;
  width: 50%;
}

button {
  margin: 10px;
  background-color: antiquewhite;
}
